name: c_execution_pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Show files
        run: |
          pwd
          ls -la

      - name: Build Hello.c
        run: |
          gcc -Wall -Wextra -Werror -O2 -o Hello Hello.c

      - name: Run program
        run: |
          chmod +x ./Hello
          ./Hello
